<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block metatitle %}{% endblock metatitle %} | Skateboard Social Club</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!--css-->
        <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/hom.css') }}">
        <link rel="stylesheet" href="{{ asset('css/header.css') }}">

    </head>
    <body>
        <header >
          <ul class="banner">
            <div id="logo"><a href="# {{ path('profile_home') }}">
                        <img class="logo" src="{{ asset('logo/logo_blanc_trans.png') }}" alt="logo" class="resp">
                    </a>
            </div>
            <ul class="search-toogle">
                <li class="container">
                    <div id="top" class="container">
                        <form role="search" method="get" class="search-form" action="">
                            <label>
                                <input type="search" class="search-field" placeholder="Search …" value="" name="s" title="Search for:" />
                            </label>
                            <input type="submit" class="search-submit" value="Search" />
                        </form>
                    </div>
                </li>
                <li class="container">
                    <div class="container">
                        <a class="logo" type="checkbox">
                            <img src="{{ asset('icon/loupe.png') }}" alt="login" class="logo" type="submit" >
                        </a>
                    </div>
                </li>
                <li class="container">
                    <a href="# {{ path('login') }}" class="logo" type="submit">
                        <img src="{{ asset('icon/login.png') }}" alt="login" class="logo" type="submit">
                    </a>
                </li>
                <li >
                    <nav role='navigation'>
                        <div id="menuToggle">
                            <input type="checkbox" />
                                    <span></span>
                                    <span></span>
                                    <span></span>
                            <ul id="menu">
                                <li class="sub-link"><a class="" aria-current="page" href="{{ path('profile_sessions') }}">SESSIONS</a>
                                    <li><a class="" aria-current="page" href="{{ path('profile_skateparks') }}">SKATEPARKS</a></li>
                                    <li><a class="" aria-current="page" href="{{ path('profile_clubs') }}">CLUBS</a></li> 
                                    <li><a class="" aria-current="page" href="{{ path('profile_shops') }}">SHOPS</a></li>
                                    <li><a class="" aria-current="page" href="{{ path('profile_users') }}">RIDERS</a></li>
                                    <li><a class="" aria-current="page" href="{{ path('profile_shops') }}">PIC-MAKER</a></li>
                                    <li><a class="" aria-current="page" href="{{ path('profile_home') }}">HOME</a></li> 
                                    <li><a class="" aria-current="page" href="{{ path('profile_shops') }}">CONTACT</a></li> 
                                </li>
                            </ul>
                        </div>
                    </nav>
            </li>
            </ul>
          </ul>
        </header>
        {# si le message flashes de type 'success' ont été ajoutés, on les affiche #}
            {% for message in app.flashes('success') %}
                <div class="alerte alert-success">
                    <p class="message-success">{{ message }}</p>
                </div>
            {% endfor %}
        {# si le message flashes de type 'error' ont été ajoutés, on les affiche #}   
            {% for message in app.flashes('error') %}
                <div class="alerte alert-error">
                    <p class="message-error">{{ message }}</p>
                </div> 
            {% endfor %}

    <main id="main">
        {% block main %}
        {% endblock main %}
    </main>
{% include 'profile/_footer.html.twig' %}