{% extends "admin/base.html.twig" %}

{% block metatitle %}
    Créer une User| Skateboard Social Club
{% endblock metatitle %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/hom.css') }}">
        <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock stylesheets %}

{% block main %}
    <section class="section">
        <div class="detail">
            <div class="justify-between flex fdr">
                <div class="flex">
                    {{ form(userForm)}}
                    {{ form_start(userForm) }}

                    {{ form_label(userForm.title, 'titre', {
                        'label_attr': {
                            'class': 'testLabelClass'
                        }
                    }) }}

                    {{ form_widget(userForm.title, {
                        'attr': {
                            'class': 'testClass'
                        }
                    }) }}

                    {{ form_label(userForm.description) }}
                    {{ form_widget(clubForm.description) }}

                    {{ form_label(userForm.address) }}
                    {{ form_widget(userForm.address) }}

                    {{ form_label(cuserorm.zippcode) }}
                    {{ form_widget(userForm.zippcode) }}

                    {{ form_label(userForm.town) }}
                    {{ form_widget(userForm.town) }}

                    {{ form_label(userForm.area) }}
                    {{ form_widget(userForm.area) }}

                    {{ form_label(userForm.coverfilename) }}
                    {{ form_widget(userForm.coverfilename) }}

                    {{ form_widget(userForm.submit) }}

                    {{ form_end(userForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
