{% extends "admin/admin_base.html.twig" %}

{% block metatitle %}
    Admin Recherches | Skateboard Social Club
{% endblock metatitle %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/hom.css') }}">
        <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock stylesheets %}

{% block title %}
    Résultat de la recherche :
{% endblock title %}

{% block main %}
    {% for user in users %}
        <div class="detail top20">
            <div class="img-card">
                <h2> {{ user.title }}</h2>
                <h3> {{ user.description }}</h3>
            </div>
        </div>
    {% endfor %}
    {% for club in clubs %}
        <div class="detail top20">
            <div class="img-card">
                <h2> {{ club.title }}</h2>
                <h3> {{ club.description }}</h3>
            </div>
        </div>
    {% endfor %}
    {% for shop in shops %}
        <div class="detail top20">
            <div class="img-card">
                <h2> {{ shop.title }}</h2>
                <h3> {{ shop.description }}</h3>
            </div>
        </div>
    {% endfor %}
    {% for skatepark in skateparks %}
        <div class="detail top20">
            <div class="img-card">
                <h2> {{ skatepark.title }}</h2>
                <h3> {{ skatepark.description }}</h3>
            </div>
        </div>
    {% endfor %}
    {% for session in sessions %}
        <div class="detail top20">
            <div class="img-card">
                <h2> {{ session.title }}</h2>
                <h3> {{ session.description }}</h3>
            </div>
        </div>
    {% endfor %}
{% endblock main %}