{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/header.css') }}">
        <link rel="stylesheet" href="{{ asset('css/hom.css') }}">
{% endblock stylesheets %}

<ul class="banner">
    <ul class="search-toogle">
        <li >
            <nav role='navigation'>
                <div id="menuToggle">
                    <input type="checkbox" />
                            <span></span>
                            <span></span>
                            <span></span>
                    <ul id="menu">
                        <li class="sub-link"><a class="" aria-current="page" href="{{ path('admin_sessions') }}">SESSIONS</a>
                            <li><a class="" aria-current="page" href="{{ path('admin_skateparks') }}">SKATEPARKS</a></li>
                            <li><a class="" aria-current="page" href="{{ path('admin_clubs') }}">CLUBS</a></li> 
                            <li><a class="" aria-current="page" href="{{ path('admin_shops') }}">SHOPS</a></li>
                            <li><a class="" aria-current="page" href="{{ path('admin_users') }}">RIDERS</a></li>
                            <li><a class="" aria-current="page" href="{{ path('admin_users') }}">PIC-MAKER</a></li>
                            <li><a class="" aria-current="page" href="{{ path('admin_home') }}">HOME</a></li> 
                            <li><a class="" aria-current="page" href="{{ path('admin_shops') }}">CONTACT</a></li> 
                        </li>
                    </ul>
                </div>
            </nav>
        </li>
    </ul>
</ul>