{% extends "base.html.twig" %}

{% block metatitle %}
    {{ shop.title }} | Skateboard Social Club
{% endblock metatitle %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/hom.css') }}">
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock stylesheets %}

{# {% block javascripts %} #}
{#     {{ encore_entry_script_tags('app') }} #}
{# {% endblock javascripts %} #}

{% block main %}
    <section class="section">
        <div id="ico">
            <div class="element">
                <a href="{{ path('shops') }}">
                    <img class="title logoBig" href="{{ path('shops') }}" src="{{ asset('icon/shops_titre.png') }}" alt="Shop">
                </a>
            </div>
            <div class="element">
                <a href="{{ path('shops') }}">
                    <img class="title logoBig" href="{{ path('shops') }}" src="{{ asset('icon/shops.png') }}" alt="Shop-icon">
                </a>
            </div>
        </div>
        <div class="line"></div>
        <div class="">
            <div class="cadre">
                {% block search %}
                    <form action="{{ path('search_shops') }}">
                        <div class="homeElement">
                            <div class="logo icon element">
                                <label for="userId">
                                    <img class="logo icon" src="{{ asset('icon/loupe.png') }}" alt="loupe">
                                </label>
                            </div>
                            <div class="element">
                                <input type="text" id="userId" name="query" placeholder="Ville, Code postal">
                            </div>
                        </div>
                    </form>
                {% endblock search %}
            </div>
        <article class="card-detail">
                <div class="card-title"><h1>{{ shop.title }}</h1><br></div>
        </article>
        <article class="card-address">
             <div class="card-title"><h2>{{ shop.address }} {{ shop.town }}</h2></div>
        </article>
        <article class="detail">
            <div class="card-text">
                <div class="" id="tm">
                    <div class="" id="tmbk">
                        <div id="abs1" class="absolute">
                            <b><img class="left logoBig resp arrow-left" src="{{ asset('icon/fleche_droite.png') }}" alt="Preview">
                            </b><br />
                        </div>
                        <div id="abs2" class="absolute">
                            <b><img class="arrow-right right logoBig resp" src="{{ asset('icon/fleche_droite.png') }}" alt="Next">
                            </b><br />
                        </div>
                        <div id="abs6" class="list">
                            <ul  class="absolute indicators ">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div id="sta1" class="static">
                            <b>
                                <img class="img-card" src="{{ asset('uploads/cover/'~shop.coverFilename) }}" alt="photo-shop">
                            </b><br />
                        </div>
                        
                    </div>
                    <div class="table-flex">
                        <table>
                            <tr>
                                <td><h5>Lundi -</h5></td>
                                <td><h5>fermé</h5></td>
                            </tr>
                            <tr>
                                <td><h5>Mardi</h5></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><h5> 14:00 - </h5></td>
                                <td><h5>21:00</h5></td>
                            </tr>
                            <tr>
                                <td><h5>Mercredi</h5></td>
                            </tr>
                            <tr>
                                <td><h5> 14:00 - </h5></td>
                                <td><h5> 19:00</h5></td>
                            </tr>
                            <tr>
                                <td><h5>Jeudi</h5></td>
                            </tr>
                            <tr>
                                <td><h5> 14:00 - </h5></td>
                                <td><h5>21:00</h5></td>
                            </tr>
                            <tr>
                                <td><h5>Vendredi</h5></td>
                            </tr>
                            <tr>
                                <td><h5> 14:00 - </h5></td>
                                <td><h5>21:00</h5></td>
                            </tr>
                            <tr>
                                <td><h5>Samedi</h5></td>
                            </tr>
                            <tr>
                                <td><h5> 14:00 - </h5></td>
                                <td><h5> 19:00</h5></td>
                            </tr>
                            <tr>
                                <td><h5>Dimanche</h5></td>
                            </tr>
                            <tr>
                                <td><h5> 14:00 - </h5></td>
                                <td><h5> 19:00</h5></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            
        </article>
        <article class="detail">
            <div class="card-text">
                <div class="box">
                    <div class="btn" >
                        <a href="{{ path('shops') }}">
                            <img class="btn" src="{{ asset('icon/open-blue.png') }}" alt="Voir les shop"><br>
                                <h4 class="pad5">Shops</h4>
                        </a>
                    </div>
                </div>
                <div class="justifyBox">
                     <p>{{ shop.description }}{{ shop.description }}</p>
                </div>
            </div>
            <div class="card-map">
                <iframe src="https://www.google.com/maps?q=[{{shop.address}}{{shop.town}}]&output=embed" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </article>
    </section>

{% endblock main %}